<html>
<body>
<form action ="/insert" method='POST'>
	Item:<br /> <input type='text' name='name' /> <br />
	Quantity:<br /> <input type='text' name='number' /> <br />
	<input type='submit' name='insert' />
</form>
</body>
</html>

